<div [style.backgroundColor]="configFile?.backgroundColor">
  <div class="p-4 flex items-center gap-4">
    <img [src]="configFile?.logoUrl" class="w-14" />
    <h1 class="mt-2 font-extrabold" [style.color]="configFile?.titleColor">
      {{ configFile?.appName }}
    </h1>
  </div>
  <div class="flex">
    <div class="mx-4">
      <app-paginator
        [totalItems]="totalItems"
        [pageSize]="pageSize"
        (pageChanged)="onPageChanged($event)"
      ></app-paginator>
      <ng-container *ngFor="let item of paginatedDrinks | async">
        <app-drink-container
          [title]="item.strDrink"
          [img]="item.strDrinkThumb"
          [backgroundColor]="configFile?.containerColor"
          [textColor]="'black'"
          (showdetails)="onShowDetails(item.idDrink)"
          [buttonColor]="configFile?.buttonColor"
          [textColor]="configFile?.textColor"
        >
        </app-drink-container>
      </ng-container>
    </div>
  </div>
  <app-footer [config]="configFile"></app-footer>
</div>
