<ng-container *ngIf="configFile$ | async; let configFile">
  <app-header [config]="configFile"></app-header>
  <div [style.backgroundColor]="configFile.backgroundColor">
    <div class="flex">
      <div class="mx-4">
        <app-paginator
          [totalItems]="(totalItems$ | async) ?? 100"
          [pageSize]="(pageSize$ | async) ?? 10"
          (pageChanged)="onPageChanged($event)"
        ></app-paginator>

        <app-drink-container
          *ngFor="let item of paginatedDrinks$ | async"
          [title]="item.strDrink"
          [img]="item.strDrinkThumb"
          [backgroundColor]="configFile.containerColor"
          [textColor]="'black'"
          (showdetails)="onShowDetails(item.idDrink)"
          [buttonColor]="configFile.buttonColor"
          [textColor]="configFile.textColor"
        >
        </app-drink-container>
      </div>
    </div>
    <app-footer [config]="configFile"></app-footer></div
></ng-container>
